.page-header {
  margin-top: 0;
  margin-bottom: 40px;
  background: url('/static/img/header.jpeg')
}
h2 {
  color: #000000
}
.h2 {
  font-weight: 400
}
.page-header h1, .page-header h1 a, .page-header h1 a: visited, .page-header h1 a: active {
  color: #000000;
  font-size: 48pt;
  text-decoration: none;
  max-width: 900px
}
.top-menu, .top-menu: hover, .top-menu: visited {
  color: #ffffff;
  float: right;
  font-size: 26pt;
  margin-right: 20px
}
a {
  text-decoration: none;
  color: #3078b0
}
a: hover {
  color: #b06830 !important
}
h2.h2ar {
  font-size: 22px;
  color: #000000
}
h2.h2en {
  font-size: 20px;
  color: #000000
}
h2.h2au {
  font-size: 14px
}
h2.h2au.h2ar {
  font-size: 16px
}
.thead .tleft th, td {
  padding-left: 7.5px;
  padding-right: 7.5px
}
tr {
  padding-top: 0px
}
.thead {
  margin: auto
}
.ti {
  margin-left: -5px;
  margin-right: -5px
}
.hcontainer {
  width: 100%;
  padding: 20px 150px 20px
}
.hheader {
  font-family: 'Francois One';
  font-size: 48px;
  color: black !important;
}
.hheader a {
  color: black;
}
.hlink {
  margin: auto;
  width: 900px;
  height: 100%;
  margin-right: auto;
  margin-left: auto
}
.hlink a {
  font-size: 16px;
  color: #FFFFFF;
  font-weight: 400
}
.hlink a:hover {
  color: #b06830;
}
.linkcenter {
  margin: auto;
  height: 50px;
  background: #3078b0
}
.linkrere{
  display: flex;
  justify-content: center
}
li {
  float: left;
  padding: 12px
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100% !important;
  overflow-y: scroll
  
}
.container {
  width: 920px;
  height: 100%;
  padding: 0;
  margin-bottom: 100px
}
table.crptable td, th {
  border: 1px solid;
  border-color: #000000;
  padding: 5px;
  padding-left: 5px;
  text-align: center;
  font-size: 14px;
  font-weight: 400
}
.crphead{
  color: #FFFFFF;
  background: #3078b0
}
.crphead a {
  color: #ffffff
}
.crphead a: hover {
  color: #b06830
}
table.crptable tr:nth-child(even) {
  background: #f6e8dd !important
}
.tileft {
  text-align: right !important;
  line-height: 1.5em;
  padding: 7.5px !important
}
.brbig {
  font-size: 14px !important
}
#crp_src {
  width: 50px
}
#crp_gen {
  width: 100px
}
#crp_titl {
  width: 420px
}
#crp_au {
  width: 200px
}
#crp_date {
  width: 60px
}
#crp_tid {
  width: 100px
}
#id_status {
  text-align: right !important;
  padding-right: 10px
}
#genre {
  padding-right: 10px !important
}
.controls {
  margin: auto;
  text-align: center;
  padding-top: 20px
}
.read_info {
  text-align: center;
  margin: auto;
  padding-bottom: 10px
}
.read_display {
  width: 600px;
  margin: auto;
  border: 1px solid;
  padding: 25px;
  margin-top: 25px;
  height: 700px;
  font-size: 16px;
  position: relative
}
.pgnumb{
  text-align: center;
  display: block;
  font-weight: 500;
  position: absolute;
  bottom: 25px;
  left: 0;
  width: 100%
}
h5{
  text-align: center !important
}
a.rnav {
  font-weight: 900
}
.tin {
  text-align: center;
  font-weight: 700;
  padding-bottom: 25px
}
.fixedtext p {
  margin-left: 25px
}
.read_info .tdleft, .read_info .tdright {
  font-size: 26px
}
.rau {
  font-size: 16px !important
}
em {
  font-style: italic
}
.tcard .tdleft {
  font-size: 14px
}
.tr_au {
  vertical-align: top;
  border-collapse: separate;
  border-spacing: 0 15px
}
footer {
  margin-top: auto;
  flex: 0 0 125px;
  width: 100%;
  
  height: 128px;
  background-color: #3078b0;
  border-color: #d5dfdf
}
.div_footer {
  text-align: center;
  padding-top: 12.5px;
  width: 920px;
  margin: auto;
  height: 125px;
  position: relative
}
.footer_link_container {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 14px;
  font-family: 'Open Sans'
}
.footer_link {
  color: #ffffff;
  margin: 20px
}
html {
  min-height: 100% !important;
  height: 100%
}
h1 {
  color: #688768 !important
}
.tdfoot, .tdfoot a {
  width: 33%;
  color: #000000;
  font-weight: 500;
  text-align: center;
  font-size: 14px
}
.tdfoot a: hover {
  text-decoration: underline;
  color: #454545
}
.search_result {
  float: right;
  padding: 5px;
  font-size: 16px !important;
  font-weight: 400 !important
}
.search_display {
  height: 100%;
  width: 100%
}
.search_form {
  text-align: center;
  width: 100%;
  height: 100%;
  margin-bottom: 20px
}
.search_results {
  width: 100%;
  border: 1px solid;
  font-size: 16px !important
}
table.search_results tr:nth-child(even) {
  background: #f6e8dd !important
}
.td_sr {
  border: 1px solid;
  direction: rtl
}
.td_sr a {
  font-weight: 400
}
.sr_tit {
  direction: rtl;
  min-width: 67%
}
.crpup {
  margin-top: 25px;
  border-top: 0
}
.corpus_upd {
  margin-left: 25px
}
.au_left {
  width: 17%;
  font-weight: 500;
  text-align: right
}
input[type="search"]::-webkit-search-cancel-button {
  
  -webkit-appearance: none
}
.paging {
  width: 100%;
  text-align: center;
  font-size: 12px
}
.td_result {
  width: 550px
}
.filter_search {
  float: right;
  height: 90%;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid
}
.filter_texts {
  display: inline-block;
  height: 100%;
  padding: 1%;
  text-align: center;
  width: 69%;
  font-size: 14px;
  border-left: 1px solid;
  font-weight: 500
}
.filter_auth {
  text-align: center;
  width: 29%;
  display: inline-block;
  height: 100%;
  padding: 1%;
  border-right: 0px;
  font-size: 14px;
  font-weight: 500
}
.filter_sub {
  float: right;
  width: 100%
}
.filter_title {
  text-align: center;
  height: 30px;
  line-height: 30px;
  background-color: #3078b0;
  font-size: 16px;
  color: #FFFFFF;
  font-weight: 400;
  border-bottom: 1px solid;
  border-color: #000000
}
.th_sr {
  background-color: #3078b0;
  font-size: 16px;
  color: #FFFFFF;
  font-weight: 400;
  border-color: #000000
}
.filterbtn_div {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  float: right
}
.error{
  font-size: 16px;
  text-align: center !important;
  width: 100%
}
input {
  text-align: center
}
::-webkit-input-placeholder {
  text-align: center
}
: -moz-placeholder {
  text-align: center
}
#filter {
  height: 30px
}
#logo{
  height: 150px;
  border-radius: 100%;
  border: 6px solid #000000
}
.fixed_left{
  float: left;
  width: 50%
}
.fixed_right{
  float: right;
  width: 50%
}
.corp_stats{
  color: #3078b0;
  font-weight: 600
}
#git_footer{
  width: 32px;
  display: inline
}
.searchable{
  font-weight: 600
}
.changelog{
  vertical-align: top
}
.read_display p{
  margin-bottom: 5px
}
