@font-face {
  font-family: "Naskh";
  src: url("/static/fonts/UthmanTN1.otf"); /* IE 9 */
  src: url("/static/fonts/UthmanTN1.otf?") format("eot"), /* IE 6-8 */
  url("/static/fonts/UthmanTN1.otf") format("opentype"), /* Other browsers */
  url("/static/fonts/UthmanTN1.otf") format("truetype"); /* Safari, Android, iOS */
}
.page-header {
  margin-top: 0;
  margin-bottom: 40px;
  background: url('/static/img/header.jpeg')
}
h2 {
  color: #000000
}
.h2 {
  font-weight: 400
}
.page-header h1, .page-header h1 a, .page-header h1 a: visited, .page-header h1 a: active {
  color: #000000;
  font-size: 48pt;
  text-decoration: none;
  max-width: 900px
}
.top-menu, .top-menu: hover, .top-menu: visited {
  color: #ffffff;
  float: right;
  font-size: 26pt;
  margin-right: 20px
}
a {
  text-decoration: none;
  color: #3078b0
}
a: hover {
  color: #b06830 !important
}
h2.h2ar {
  font-size: 22px;
  color: #000000
}
h2.h2en {
  font-size: 20px;
  color: #000000
}
h2.h2au {
  font-size: 14px
}
h2.h2au.h2ar {
  font-size: 16px
}
.thead .tleft th, td {
  padding-left: 7.5px;
  padding-right: 7.5px
}
tr {
  padding-top: 0px
}
.thead {
  margin: auto
}
.ti {
  margin-left: -5px;
  margin-right: -5px
}
.hcontainer {
  width: 100%;
  padding: 20px 150px 20px
}
.hheader {
  font-family: 'Francois One';
  font-size: 72px;
  color: black !important;
}
.hheader a {
  color: black;
}
.hlink {
  margin: auto;
  width: 900px;
  height: 100%;
  margin-right: auto;
  margin-left: auto
}
.hlink a {
  font-size: 16px;
  color: #FFFFFF;
  font-weight: 400
}
.hlink a:hover {
  color: #b06830;
}
.linkcenter {
  margin: auto;
  height: 50px;
  background: #3078b0
}
.linkrere{
  display: flex;
  justify-content: center
}
.hlink li {
  float: left;
  padding: 12px
}
.hlink ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100% !important;
  overflow-y: scroll
  
}
.container {
  width: 920px;
  height: 100%;
  padding: 0;
  margin-bottom: 100px
}
table.crptable td, th {
  border: 1px solid;
  border-color: #000000;
  padding: 5px;
  padding-left: 5px;
  text-align: center;
  font-size: 14px;
  font-weight: 400
}
.crphead{
  color: #FFFFFF;
  background: #3078b0
}
.crphead a {
  color: #ffffff
}
.crphead a: hover {
  color: #b06830
}
table.crptable tr:nth-child(even) {
  background: #f6e8dd !important
}
.tileft {
  text-align: right !important;
  line-height: 1.5em;
  padding: 7.5px !important
}
.brbig {
  font-size: 14px !important
}
#crp_src {
  width: 50px
}
#crp_gen {
  width: 100px
}
#crp_titl {
  width: 420px
}
#crp_au {
  width: 200px
}
#crp_date {
  width: 60px
}
#crp_tid {
  width: 100px
}
#id_status {
  text-align: right !important;
  padding-right: 10px
}
#genre {
  padding-right: 10px !important
}
.controls {
  margin: auto;
  text-align: center;
  padding-top: 20px
}
.read_info {
  text-align: center;
  margin: auto;
  padding-bottom: 10px
}
.read_display h3 {
  font-size: 26px !important;
  font-weight: 600;
}
.read_display h4 {
  font-size: 40px;
  font-weight: bold;
}
.pgnumb {
  font-family: var(--bs-body-font-family);
  font-size: 16px;
}
.read_display p {
  text-indent: 30px;
  line-height: 1.4em;
  margin-bottom: 5px;
}

.read_display h5, h4, h3 {
    font-family: Naskh;
}
.read_display {
  width: 700px;
  margin: auto;
  border: 1px solid;
  padding: 50px;
  margin-top: 25px;
  min-height: 700px;
  font-size: 17px;
  position: relative;
  max-height: 900px;
}
.pgnumb{
  text-align: center;
  display: block;
  font-weight: 500;
  position: absolute;
  bottom: 25px;
  left: 0;
  width: 100%
}
h5{
  text-align: center !important
}
a.rnav {
  font-weight: 900
}
.tin {
  text-align: center;
  font-weight: 700;
  padding-bottom: 25px
}
.fixedtext p {
  margin-left: 25px
}
.read_info .tdleft, .read_info .tdright {
  font-size: 26px
}
.rau {
  font-size: 16px !important
}
em {
  font-style: italic
}
.tcard .tdleft {
  font-size: 14px
}
.tr_au {
  vertical-align: top;
  border-collapse: separate;
  border-spacing: 0 15px
}
footer {
  margin-top: auto;
  flex: 0 0 125px;
  width: 100%;
  
  height: 128px;
  background-color: #3078b0;
  border-color: #d5dfdf
}
.div_footer {
  text-align: center;
  padding-top: 12.5px;
  width: 920px;
  margin: auto;
  height: 125px;
  position: relative
}
.footer_link_container {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 14px;
  font-family: 'Open Sans'
}
.footer_link {
  color: #ffffff;
  margin: 20px
}
html {
  min-height: 100% !important;
  height: 100%
}
h1 {
  color: #688768 !important
}
.tdfoot, .tdfoot a {
  width: 33%;
  color: #000000;
  font-weight: 500;
  text-align: center;
  font-size: 14px
}
.tdfoot a: hover {
  text-decoration: underline;
  color: #454545
}
.search_result {
  float: right;
  padding: 5px;
  font-size: 16px !important;
  font-weight: 400 !important
}
.search_display {
  height: 100%;
  width: 100%
}
.search_results {
  width: 100%;
  border: 1px solid;
  font-size: 16px !important
}
table.search_results tr:nth-child(even) {
  background: #f6e8dd !important
}
.td_sr {
  border: 1px solid;
  direction: rtl
}
.td_sr a {
  font-weight: 400
}
.sr_tit {
  direction: rtl;
  min-width: 67%
}
.crpup {
  margin-top: 25px;
  border-top: 0
}
.corpus_upd {
  margin-left: 25px
}
.au_left {
  width: 17%;
  font-weight: 500;
  text-align: right
}
.browse_search {
  text-align: center;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}
input[type="search"]::-webkit-search-cancel-button {
  
  -webkit-appearance: none
}
.paging {
  width: 100%;
  text-align: center;
  font-size: 12px
}
.td_result {
  width: 550px
}
.filter_search {
  float: right;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid;
  border-bottom: 1px solid;
}
.filter_texts {
  display: inline-block;
  max-height: 200px;
  text-align: center;
  width: 60%;
  font-size: 14px;
  float: right;
  border-left: 1px solid;
  padding-bottom: 15px;
}
.filter_auth {
  text-align: center;
  width: 40%;
  display: inline-block;
  min-height: 100px;
  font-size: 14px;
  max-height: 200px;
  float: left;
  height: 100%;
}
.filteritems
{
  width: 100%;
  min-height: 60px;
  max-height: 120px;
}
.filter_sub {
  float: right;
  width: 100%
}

.filter_title {
  text-align: center;
  height: 30px;
  line-height: 30px;
  background-color: #3078b0;
  font-size: 16px;
  color: #FFFFFF;
  font-weight: 400;
  border-color: #000000;
  cursor: pointer;
}
#filter_container {
  display: none;
  max-height: 200px;
}
.th_sr {
  background-color: #3078b0;
  font-size: 16px;
  color: #FFFFFF;
  font-weight: 400;
  border-color: #000000;
  height: 30px;
}
.filterbtn_div {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}
.filter {
    width: 100%;
    display: block;
    padding: 4px 8px;
    text-align: left;
    white-space: normal;
    border: none;
    float: none;
    outline: 0;
    background-color: #FFFFFF;
    color: #000000;
}
.filter_blue {
  background: #3078b0;
  color: #ffffff;
  border: 1px solid black;
  border-left: 0px;
  border-right: 0px;
}
.filter_buttons {
  padding-top: 70px;
float: right;
width: 12%;
border-left: 1px solid;
height: 270px;
}
.filter_search.top {
  min-height: 300px;
  overflow: hidden;
  border-bottom: 1px solid black;
}
.error{
  font-size: 16px;
  text-align: center !important;
  width: 100%
}
.filter_contents {
  float: right;
  width: 54%;
  height: 270px;
  border-left: 1px solid;
}
.search_form {
  padding-top: 50px;
  padding-left: 18px;
  float: right;
  text-align: left;
  width: 34%;
  height: 270px;
}
.search_term {
  margin-bottom: 10px;
  text-align: right;
  width: 60%;
  height: 29px;
}
.select_op{
  height: 29px;
  margin-bottom: 10px;
  display: inline;
}
.searchlist
{
  width: 100%;
  border: 0;
  border-bottom: 1px solid #CCCCCC;
}
.searchitems
{
  padding-right: 20px;
  height: 240px;
}
.scroll_y
{  
  overflow:hidden;
  overflow-y:auto;
  list-style-type: none;
  text-align: right;
  padding-right: 20px;
}
input {
  text-align: center
}
::-webkit-input-placeholder {
  text-align: center
}
: -moz-placeholder {
  text-align: center
}
#filter {
  height: 30px
}
#logo{
  height: 150px;
  border-radius: 100%;
  border: 6px solid #000000
}
.fixed_left{
  float: left;
  width: 40%
}
.fixed_right{
  float: right;
  width: 60%
}
.corp_stats{
  color: #3078b0;
  font-weight: 600
}
#git_footer{
  width: 32px;
  display: inline
}
.searchable{
  font-weight: 600
}
.changelog{
  vertical-align: top
}
